header{
    background-image: url(bgImage4.jpg); 
     background-size: 100% , 100%;
    padding: 40px;
    font-family: 'Bitter', serif;
    color: #2C3852;
    font-size: 50px;
    text-align: center;
}

h2{
    font-family:'Bitter', serif;
    color: #2C3852;
    font-weight:bold;
    font-size: 20px;
}

h3 {
    font-family:'Bitter', serif;
    color: #2C3852;
    font-weight:bold;
    font-size: 20px;
    text-align: right;
    margin-top: 50px;
    margin-right: 150px;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td, tfoot {
    border: 3px solid #2C3852;
    font-family:'Bitter', serif;
    color: #2C3852;
    font-weight:bold;
    font-size: 20px;

  }
  
td{
    text-indent: 20px;
}

  tr{
      line-height: 40px;
  }

  tr:nth-child(even){
    background-color: #D6D6D6;
  }
  
  th {
    background-color: #2C3852;
    color: white;
    font-size: 18px;
  }

  hr{
      border: 2px solid #C80F7E;
  }



.employeeInputs {
    margin: 20px;
}


#firstNameIn, #lastNameIn, #idNumberIn, #jobTitleIn, #annualSalaryIn, #idNumberInTwo{
    font-family:'Bitter', serif;
    color: #2C3852;
    font-weight:bold;
    background-color: #D6D6D6;
    margin: 15px;
    height: 30px;
    width: 150px;
    font-size: 18px;
}

#submitButton {
    font-family:'Bitter', serif;
    color: #2C3852;
    font-weight:bold;
    background-color: #D6D6D6;
    margin: 15px;
    height: 30px;
    width: 150px;
    font-size:18px;
}

.removeButton {
    font-family:'Bitter', serif;
    color: #2C3852;
    font-weight:bold;
    background-color: #D6D6D6;
    margin: 15px;
    height: 30px;
    width: 200px;
    font-size:18px;
}

#tdStyle{
    border: 0px;
    background-color: white;
}